.stat_card_body{
    background: white;
    border-radius: 7px;
    height: 130px;
    margin-bottom: 20px;
    width: 320px;
    border:solid 2.5px #E6EBF1;
    padding-left: 25px;
    width: 300px;
}
.stat_card_value{
    font-size: 35px;
    margin: 0;
}
.stat_card_title{
    color: rgba(0, 0, 0, 0.33);
    font-size: 18px;
}
.stat_card_body_container{
    display: flex;
    align-items: center;
}
.stat_card_augmentation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    background:#1890FF;
    height: 28px;
    width: 80px;
    border-radius:5px ;
    color: white;

}